<%= render 'shared/title', title: 'Post List !!!'%>

<%#= views/posts/index.html.erb
%>

<% @posts.each do |post| %>
<div class="row">
  <div class='col-md-1 well text-center'>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), class: "btn btn-primary", method: 'post' do %>
        Like
      <% end %>
    <%end %>

    <br/>
    <%= post.total_votes %> Votes
    <br/>

    <% if logged_in? %>
        <%= link_to vote_post_path(post, vote: false), class: "btn btn-danger", method: 'post' do %>
          Dislike
        <% end %>
    <% end %>
  </div>
  <div class="row">
   <%#<button type="button" class="btn btn-link" href=new_post_path>Link</button>
   %>

    <div class="well well-sm col-md-6">
      <p>
        <%= render partial: "categories/category", collection: post.categories %>
        <h4><%= post.title %></h4>
      </p>

      <p class="text-warning">
        <%= post.content %>
      </p>

      <br>
      <% if logged_in? %>
        <span>
          <%= link_to '<button type="submit" class= "btn btn-info">Show</button>'.html_safe,post_path(post) %>
          <%= link_to '<button type="submit" class= "btn btn-warning">Delete</button>'.html_safe,post_path(post) , method: :delete%>
          <%= link_to '<button type="submit" class= "btn btn-primary">Update</button>'.html_safe,edit_post_path(post) %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>