<%# views/posts/show.html.erb%>
<%= render 'shared/title', title: "#{@post.title}"%>
<div class="row">
  <div class="col-md-8 well">
    <%= render partial: "categories/category", collection: @post.categories %>
    <h4><%= @post.title %></h4>
    <br>
    <p>
      <%= @post.content %>
    </p>
    <br>
    <small class='badge progress-bar-warning'>posted by </small> <span  class='badge alert-success'><%= " #{@post.user.name}" %></span>
  </div>
</div>


<h4>All Comments:</h4>

<% @post.comments.each do |comment| %>

<div class="row">
  <div class='col-md-1 well text-center'>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(@post.id,comment, vote: true), class: "btn btn-primary", method: 'post' do %>
        Like
      <% end %>
    <%end %>

    <br/>
    <%= comment.total_votes %> Votes
    <br/>

    <% if logged_in? %>
        <%= link_to vote_post_comment_path(@post.id,comment, vote: false), class: "btn btn-danger", method: 'post' do %>
          Dislike
        <% end %>
    <% end %>
  </div>


  <div class="row">
    <div class="col-md-6 well  well-sm">
      <p>
        <%= comment.content %>
      </p>
      <small  class='badge progress-bar-info' >commented by </small> <span class='badge alert-success'><%= "#{comment.user.name}" %></span>
    </div>
  </div>
<% end %>

<% if logged_in? %>

  <h4>Leave a comment:</h4>
  <%= form_for [@post, @comment] do |f| %>
    <div class="row">
      <%= f.text_area :content, rows: 3, class: 'col-md-4' %>
      <div class="col-md-2">
        <%= f.submit 'Create Comment', class: 'btn btn-primary' %>
      </div>
    </div>
    <br>
  <% end %>

<% end %>

<hr>

<div class="row">
  <%= link_to 'go back to all posts', posts_path %>
</div>