<%= render 'shared/title', title: "Edit Category"%>

<div class="well col-md-6">
  <%= form_for @category do |c| %>
    <div class="form-group">
        <%= c.label :category_title %>
        <br>
        <%= c.text_field :title %>
    </div>
    <%= c.submit 'Update Category', class: 'btn btn-primary' %>
  <% end %>
</div>